@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
html, body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(img/bg.png) no-repeat center fixed;
  background-size: cover;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 350px;
  background: linear-gradient(45deg, #222222, #393939);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  color: white;
  position: relative;
  overflow: hidden;
  padding: 1.5rem 2rem;
  box-shadow: 0 20px 50px -10px black;
  font-weight: 600;
}
.card-top, .card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-top .signal, .card-bottom .signal {
  transform: rotate(90deg);
  width: 40px;
}
.card-title {
  font-size: 1.8rem;
  z-index: 1;
}
.card-sub-title {
  color: #797979;
  font-size: 1.2rem;
  padding-right: 9rem;
  padding-top: 0.4rem;
}
.card-bottom-left {
  gap: 0.7rem;
  color: #686868;
}
.card-bottom-left, .card-bottom-right {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.card-number {
  font-family: "Kode Mono", monospace;
  font-size: 1.8rem;
  letter-spacing: 3px;
}
.card-date {
  font-size: 22px;
  padding-left: 22rem;
  padding-bottom: 3rem;
}
.card-chip img {
  width: 90px;
}

/*# sourceMappingURL=style.css.map */
